# Ignorar a pasta da API Laravel
api-futebol-brasileiro/

# Ignorar arquivos de configuração sensíveis
.env

# Jupyter Notebooks
.ipynb_checkpoints/

# Python
*.pyc
*.pyo
__pycache__/

# VS Code
.vscode/

# Power BI
*.pbix

# Banco de Dados
*.sqlite
*.db

# Virtualenv
venv/
env/
*.egg-info/

# Pandas profiling
.profile/

# IPython
profile_default/
ipython_config.py

# PyCharm
.idea/

# Kaggle
*.json

# Arquivos temporários
*.log
*.csv
*.tsv

