# Ignorar o ambiente virtual
venv/

# Ignorar arquivos sensíveis
.env

# Ignorar diretórios temporários do VS Code
.vscode/

# Ignorar pastas sensíveis
data/

#Ignorar logs e secrets
__pycache__/
*.log
db_backups/
secrets/
